:root {
    --brandColor: #06121E;
    --primaryColor: #006DA7;
    --hoverColor: #00A6FF;
    --fontSizeRegular: 18px;
    --fontSizeP: 20px;
    --fontSizeH1: 48px;
    --fontSizeH2: 36px;
    --fontSizeBtn: 16px;
}

body {
    font-family: "Orbitron", sans-serif;
    background-color: var(--brandColor);
    color: #ffff;
}

.header {
    background-color: var(--primaryColor);
    font-size: var(--fontSizeRegular);
}

a {
    display: flex;
    text-decoration: none;
    color: #ffff;
}

p {
    font-size: var(--fontSizeP);
    color: #ffff;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: var(--fontSizeH1);
    color: #ffff;
}

h2 {
    font-size: var(--fontSizeH2);
    color: #ffff;
}

.meu-nome {
    font-family: "Orbitron", sans-serif;
}

.btn {
    font-family: "Inter", sans-serif;
    font-size: var(--fontSizeBtn);
}

.footer {
    color: #fff;
    font-size: var(--fontSizeRegular);
    padding: 20px 0;
}

.footer-background {
    background-color: rgba(0, 109, 167, 0.5);
    height: 70px;
    border-radius: 10px;
    padding: 0 15px;
}

.footer-text {
    font-size: 16px;
}

.social-icons .social-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: color 0.3s ease;

}

.social-icons .social-icon:hover {
    color: var(--hoverColor);
}